<mat-card class="card" [style.background-color]="winner ? '#00A86B' : '#fff'">
  <mat-card-header>
    <div mat-card-avatar class="star-wars-image"></div>
    <div *ngIf="card">
      <mat-card-title>{{card.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="card.crew">{{card.crew}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="card.mass">{{card.mass}}</mat-card-subtitle>
    </div>
    <div *ngIf="!card">
      <mat-card-title>{{'Name'}}</mat-card-title>
      <mat-card-subtitle>{{'---'}}</mat-card-subtitle>
    </div>
  </mat-card-header>
</mat-card>
